html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 60px;
  margin: auto;
  background-color: #242424;
  color: azure;
}
switch_div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.my_inputs {
  min-width: 60%;
  width: 60%;
}
.config_save_btn{
  margin-top: 10px;
  margin-bottom: 40px;
}